<% layout ('layouts/boilerplate') %>

<div class="row">
    <div class="col-12 px-3 mx-auto">
        <h1><i class="fas fa-user-plus"></i>&#160;&#160;Add User</h1>
        <hr>
        <div class="mb-3">
            <a href="/admin/users" class="text-decoration-none">&#60;&#60;&#160;Back to Users</a>
        </div>

        <form action="/admin/users" method="POST" class="needs-validation" novalidate>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="state" class="form-label">User Level</label>
                        <select class="form-select" id="userLevel" name="userLevel" required>
                            <option value="0">Banned</option>
                            <option value="1" selected>Regular User</option>
                            <option value="2">Administrator</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" name="email" id="email" class="form-control" required>
                        <div class="invalid-feedback">
                            Email is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" name="password" id="password" class="form-control" required>
                        <div class="invalid-feedback">
                            Please provide a password.
                        </div>
                    </div>

                </div>
                <div class="col-6">
                    <div class="mb-3">
                        <label for="password2" class="form-label">Confirm Password</label>
                        <input type="password" name="password2" id="password2" class="form-control" required>
                        <div class="invalid-feedback">
                            Please confirm your password.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="mb-3">
                        <label for="firstName" class="form-label">First Name</label>
                        <input type="text" name="firstName" id="firstName" class="form-control" required>
                        <div class="invalid-feedback">
                            Please provide your first name.
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-3">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input type="text" name="lastName" id="lastName" class="form-control" required>
                        <div class="invalid-feedback">
                            Please provide your last name.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-8 col-lg-4 mb-3 mb-lg-0">
                    <label for="street" class="form-label">Street</label>
                    <input type="text" name="street" id="street" class="form-control">
                </div>
                <div class="col-4 col-lg-2">
                    <label for="unit" class="form-label">Apt/Unit #</label>
                    <input type="text" name="unit" id="unit" class="form-control">
                </div>
                <div class="col-4 col-lg-2">
                    <label for="city" class="form-label">City</label>
                    <input type="text" name="city" id="city" class="form-control">
                </div>
                <div class="col-4 col-lg-2">
                    <label for="state" class="form-label">State</label>
                    <select class="form-select" name="state" id="state" name="state" id="state">
                        <option value="AL">AL</option>
                        <option value="AK">AK</option>
                        <option value="AR">AR</option>
                        <option value="AZ">AZ</option>
                        <option value="CA">CA</option>
                        <option value="CO">CO</option>
                        <option value="CT">CT</option>
                        <option value="DC">DC</option>
                        <option value="DE">DE</option>
                        <option value="FL">FL</option>
                        <option value="GA">GA</option>
                        <option value="HI">HI</option>
                        <option value="IA">IA</option>
                        <option value="ID">ID</option>
                        <option value="IL">IL</option>
                        <option value="IN">IN</option>
                        <option value="KS">KS</option>
                        <option value="KY">KY</option>
                        <option value="LA">LA</option>
                        <option value="MA">MA</option>
                        <option value="MD">MD</option>
                        <option value="ME">ME</option>
                        <option value="MI">MI</option>
                        <option value="MN">MN</option>
                        <option value="MO">MO</option>
                        <option value="MS">MS</option>
                        <option value="MT">MT</option>
                        <option value="NC">NC</option>
                        <option value="NE">NE</option>
                        <option value="NH">NH</option>
                        <option value="NJ">NJ</option>
                        <option value="NM">NM</option>
                        <option value="NV">NV</option>
                        <option value="NY">NY</option>
                        <option value="ND">ND</option>
                        <option value="OH">OH</option>
                        <option value="OK">OK</option>
                        <option value="OR">OR</option>
                        <option value="PA">PA</option>
                        <option value="RI">RI</option>
                        <option value="SC">SC</option>
                        <option value="SD">SD</option>
                        <option value="TN">TN</option>
                        <option value="TX">TX</option>
                        <option value="UT">UT</option>
                        <option value="VT">VT</option>
                        <option value="VA">VA</option>
                        <option value="WA">WA</option>
                        <option value="WI">WI</option>
                        <option value="WV">WV</option>
                        <option value="WY">WY</option>
                    </select>
                </div>
                <div class="col-4 col-lg-2">
                    <label for="zip" class="form-label">Zip Code</label>
                    <input type="text" name="zip" id="zip" class="form-control">
                </div>
            </div>
            <div class="d-block d-md-none d-grid gap-2 my-4">
                <button class="btn btn-success fw-bold">
                    <i class="fas fa-user-check"></i>&#160;&#160;Add User
                </button>
            </div>
            <div class="d-none d-md-block float-end">
                <button class="btn btn-success fw-bold">
                    <i class="fas fa-user-check"></i>&#160;&#160;Add User
                </button>
            </div>
        </form>
    </div>
</div>