<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-4 sticky-top shadow-lg px-1">
    <div id="main-navbar" class="container">
        <!-- NAVBAR BRAND -->
        <a class="navbar-brand text-center" href="/">
            <img src="/images/logo.png" class="img-fluid" alt="" class="src" style="max-width: 96px;">
        </a>
        <div>
            <!-- CART SM -->
            <button class="navbar-toggler position-relative me-5 me-md-0" data-bs-toggle="modal"
                data-bs-target="#cartModal">
                <i class="fas fa-shopping-cart text-light"></i>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    <span class="visually-hidden">items in your cart.</span></span>
            </button>
            <!-- NAVBAR TOGGLER -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars text-light"></i>
            </button>
        </div>
        <!-- NAVBAR ITEMS -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 text-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">
                        <i class="fas fa-home"></i>&#160;&#160;Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/faqs">
                        <i class="fas fa-question-circle"></i>&#160;&#160;FAQs
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#contactModal">
                        <i class="fas fa-envelope"></i>&#160;&#160;Contact
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/orders">
                        <i class="fas fa-envelope"></i>&#160;&#160;Orders
                    </a>
                </li>
                <% if (currentUser && currentUser.userLevel === 2) { %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-tools"></i>&#160;&#160;Admin
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark w-25 mx-auto text-center"
                        aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="/admin/faqs">
                                <i class="fas fa-question-circle"></i>&#160;&#160;FAQs
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-truck"></i>&#160;&#160;Orders
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/admin/products">
                                <i class="fas fa-tags"></i>&#160;&#160;Products
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/admin/users">
                                <i class="fas fa-users"></i>&#160;&#160;Users
                            </a>
                        </li>
                    </ul>
                </li>
                <% } %>
            </ul>
            <ul class="navbar-nav ms-auto text-center">
                <% if (!currentUser) { %>
                <li class="nav-item">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#registerModal" class="nav-link"><i
                            class="fas fa-user-plus"></i>&#160;&#160;Register</a>
                </li>
                <li class="nav-item">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#loginModal" class="nav-link">
                        <i class="fas fa-sign-in-alt"></i>&#160;&#160;Login
                    </a>
                </li>
                <% } else { %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <%if (currentUser.userLevel === 2) { %>
                        <i class="fas fa-crown"></i>&#160;&#160;
                        <% } else { %>
                        <i class="fas fa-user-circle"></i>&#160;&#160;
                        <% } %>
                        <%= currentUser.firstName %>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark w-25 mx-auto text-center"
                        aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="/admin/faqs">
                                <i class="fas fa-address-card"></i>&#160;&#160;Profile
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/orders">
                                <i class="fas fa-truck"></i>&#160;&#160;Orders
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="/logout" class="nav-link">
                        <i class="fas fa-sign-out-alt"></i>&#160;&#160;Logout
                    </a>
                </li>
                <% } %>
                <!-- CART LG -->
                <li class="nav-item">
                    <button id="lg-cart" class="btn btn-outline-light position-relative d-none d-lg-block me-2"
                        style="top: 3px;" data-bs-toggle="modal" data-bs-target="#cartModal">
                        <i class="fas fa-shopping-cart text-light"></i>
                        <span id="cart-btn-lg" class="position-absolute start-100 translate-middle badge rounded-pill bg-danger"
                            style="top: 5px;"></span>
                        <span class="visually-hidden">items in your cart.</span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>