<div id="registerModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex justify-content-between">
                    <h3 class="mb-0"><i class="fas fa-user-plus"></i>&#160;&#160;Register</h3>
                    <button type="button" class="btn-close my-auto" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <hr>
                <form action="/register" method="POST" class="needs-validation" novalidate>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" name="email" id="email" class="form-control" required>
                        <div class="invalid-feedback">
                            Email is required.
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" name="password" id="password" class="form-control" required>
                            <div class="invalid-feedback">
                                Please provide a password.
                            </div>
                        </div>
                        <div class="col-6">
                            <label for="password2" class="form-label">Confirm Password</label>
                            <input type="password" name="password2" id="password2" class="form-control" required>
                            <div class="invalid-feedback">
                                Please confirm your password.
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            <label for="firstName" class="form-label">First Name</label>
                            <input type="text" name="firstName" id="firstName" class="form-control" required>
                            <div class="invalid-feedback">
                                Please provide your first name.
                            </div>
                        </div>
                        <div class="col-6">
                            <label for="lastName" class="form-label">Last Name</label>
                            <input type="text" name="lastName" id="lastName" class="form-control" required>
                            <div class="invalid-feedback">
                                Please provide your last name.
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-8">
                            <label for="street" class="form-label">Street</label>
                            <input type="text" name="street" id="street" class="form-control">
                        </div>
                        <div class="col-4">
                            <label for="unit" class="form-label">Apt/Unit #</label>
                            <input type="text" name="unit" id="unit" class="form-control">
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-6">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" name="country" id="country" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="state" class="form-label">Province / State</label>
                            <input class="form-control" type="text" name="state" id="state">
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-6">
                            <label for="city" class="form-label">City</label>
                            <input type="text" name="city" id="city" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="zip" class="form-label">Zip Code</label>
                            <input type="text" name="zip" id="zip" class="form-control">
                        </div>
                    </div>
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary">
                            <i class="fas fa-user-plus"></i>&#160;&#160;Register
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>