.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, .55);
    border: none;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0rem;
}

#lg-cart {
    border: none;
}

#lg-cart:hover {
    background: none;
}

#lg-cart:focus:not(:focus-visible) {
    box-shadow: 0 0 0 0.0rem rgb(248 249 250 / 50%);
}

#search {
    background-color: inherit;
    border: none;
    padding: 0;
    height: 3rem;
}

#search:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}

.productImg {
    width: 25vw;
    height: 15vh;
    object-fit: contain;
}

textarea {
    resize: none;
}

@media only screen and (max-width: 576px) {
    .productDetails {
        font-size: 0.75rem;
    }
}

@media only screen and (max-width: 1399px) {
    #main-navbar {
        width: 100%;
    }
}

@media only screen and (min-width: 1400px) {
    #main-navbar {
        width: 50%;
    }

    .cw-50 {
        width: 50%;
    }
}